mode "workspace-rename" {
    bindsym 1 rename workspace to 1, mode "default"
    bindsym 2 rename workspace to 2, mode "default"
    bindsym 3 rename workspace to 3, mode "default"
    bindsym 4 rename workspace to 4, mode "default"
    bindsym 5 rename workspace to 5, mode "default"
    bindsym 6 rename workspace to 6, mode "default"
    bindsym 7 rename workspace to 7, mode "default"
    bindsym 8 rename workspace to 8, mode "default"
    bindsym 9 rename workspace to 9, mode "default"
    bindsym 0 rename workspace to 10, mode "default"

    # Return to default mode
    bindsym Return mode "default"
    bindsym Escape mode "default"
}
